registry=https://nexus.apps.bni/repository/npm-repository/
always-auth=true
strict-ssl=false
legacy-peer-deps=true
audit=false
//nexus.apps.bni/repository/npm-repository/:_auth=bmV4dXMtdXNlcjpBemVydHlAMDE=